<ion-view view-title="TypeCooker">
  <ion-content>
    <ion-refresher
      pulling-text="New recipe…"
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item item-avatar" ng-repeat="param in parameters" type="item-text-wrap">
        <img ng-src="http://placehold.it/500x500">
        <p>{{param.key}}</p>
        <h2>{{param.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
  <!-- Make it work in settings first
  <ion-footer-bar class="item-input-inset">
    <label class="item item-input item-select">
      <div class="input-label">
        Difficulty
      </div>
      <select>
        <option>Starter</option>
        <option selected>Easy</option>
        <option>Class</option>
        <option>Experienced</option>
        <option>Pro</option>
      </select>
    </label>
  </ion-footer-bar> -->
</ion-view>
