<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-item class="item-toggle">
        Enable Friends
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <label class="item item-input item-select">
        <div class="input-label">
          Difficulty
        </div>
        <select ng-model="settings.difficulty" ng-options="diff.name for diff in settings.difficulties">
        </select>
      </label>
    </ion-list>
  </ion-content>
</ion-view>
